*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.page-heder {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header {
  padding: 16px 0;
  display: block;
}

.logo-header .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .heder-nav {
    display: flex;
    align-items: center;
  }

  .logo-header {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    align-self: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contact-link:hover,
  .contact-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }

  .contact-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

.mobile-modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-modal-menu.is-open-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-modal-menu.is-open-menu {
  transform: translateX(0);
}

.mobile-menu-container {
  position: relative;
  padding: 72px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  fill: #2e2f42;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-nav {
  margin-bottom: auto;
}

.modal-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.modal-menu-link {
  font-weight: 700;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-link:hover,
.modal-menu-link:focus,
.contacts-menu-link:hover,
.contacts-menu-link:focus {
  color: #404bbf;
}

.mob-menu-color,
.contact-menu-color {
  color: #404bbf;
}

.contact-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.contact-menu-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-list {
  display: flex;
  gap: 40px;
}

.menu-social-item {
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-svg {
  fill: #f4f4fd;
}

.menu-social-link:hover,
.menu-social-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-modal-menu {
    display: none;
  }
}

.section-hero {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  min-width: 320px;
  min-height: 432px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 72px 52px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 216px;
  margin: 0 auto 72px;
}
.hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/table-people-min.jpg);
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/table-people@2x-min.jpg);
  }
}

/* Десктоп */
@media screen and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  .hero-title {
    margin: 0 auto 48px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

.section-info {
  padding: 72px 16px;
  background: #fff;
  text-align: center;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.svg-info {
  display: none;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.info-item {
  width: 100%;
}

.info-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.info-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .section-info {
    padding: 96px 0;
  }

  .info-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 736px; */
    gap: 0;
  }

  .info-item {
    width: calc((100% - 24px) / 2);
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    text-align: left;
    box-sizing: border-box;
  }

  .info-title {
    text-align: left;
  }

  .info-text {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section-info {
    padding: 120px, 156px;
  }
  .info-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .info-text {
    font-weight: 400;
    letter-spacing: 0.01em;
  }
  .info-list {
    gap: 24px;
  }

  .info-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .svg-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    gap: 24px;
  }
}
/* TEAM */
.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}
/* .container-team {
  padding-left: 28px;
  padding-right: 28px;
} */

.team-heading {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: #434455;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.team-phote {
  margin: 0 auto;
  width: 100%;
}
.team-item {
  width: 100%;
  max-width: 264px;
  border: 1px #ccc;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-ht {
  text-align: center;
  padding: 32px 16px;
}

.team-svg {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 232px;
}

.team-svg-item {
  margin: 0;
}

.team-svg-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg-item-svg {
  fill: #f4f4fd;
}
.team-svg-item-link:hover,
.team-svg-item-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .team-heading {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
}

/* PORTFOLIO */

.section-portfolio {
  background: #fff;
  padding: 96px 0;
}

.portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-ht {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  /* display: block; */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .portfolio-img-text,
.portfolio-item:focus .portfolio-img-text {
  transform: translateY(0);
}

.portfolio-img-text {
  position: absolute;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    gap: 40px 24px;
  }
  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* Footer */
.footer-section {
  background: #2e2f42;
  padding: 96px 16px;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
}

.logo-two {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.container-social {
  margin: 0 auto;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

.subscribe-form-container {
  margin: 0 auto;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.subscribe-input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px;
  color: #fff;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  margin-right: 24px;
  outline: transparent;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-btn {
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;

  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition-duration: 200ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 16px;
}

.subscribe-input:focus,
.subscribe-input:hover,
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .footer-section {
    padding: 96px 108px;
  }

  .container-footer {
    gap: 72px 24px;
    align-items: baseline;
  }

  .container-footer-svg {
    width: 264px;
    text-align: start;
  }

  .container-social {
    margin: 0;
  }
  .social-text {
    text-align: stat;
  }
  .subscribe-form-container {
    margin: 0;
  }
  .subscribe-input {
    width: 264px;
  }
  .subscribe-text {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .footer-section {
    padding: 100px 0;
  }

  .container-footer {
    padding: 0 15px;
    gap: 0;
    align-items: baseline;
  }

  .container-footer-svg {
    margin-right: 120px;
  }
  .subscribe-form-container {
    margin-left: auto;
  }
}
/* Backdrop */
.container-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-backdrop.is-open-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* width: 100%; */
  min-height: 623px;
  width: 288px;

  /* box-sizing: border-box; */
  border-radius: 4px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  padding: 72px 16px 24px 16px;
}
.container-backdrop:not(.is-open-modal) .modal {
  transform: translate(-50%, -150%);
}
.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  fill: #2e2f42;
  border-radius: 50%;
  transition-duration: 200ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  /* border-radius: 4px; */
  width: 100%;
}
.modal-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
  /* margin-bottom: 8px; */
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  /* padding-right: 16px; */
  outline: transparent;
  /* margin-top: 4px; */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus-within + .icon-modal {
  fill: #4d5ae5;
}
.modal-input:focus,
.modal-input:hover {
  border-color: #4d5ae5;
}
.icon-modal {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-two {
  margin-bottom: 16px;
}
.modal-textarea {
  font-family: 'Roboto', sans-serif;
  /* font-weight: 400; */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  /* margin-top: 4px;
  margin-bottom: 16px; */
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-textarea:focus,
.modal-textarea:hover {
  border-color: #4d5ae5;
}
.checkbox-container {
  margin-bottom: 24px;
}

.modal-check {
  flex-shrink: 0;
}

.modal-check-text {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-check-item {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .modal-check-text .modal-check-item {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.privacy-policy {
  line-height: 1.33;
  text-decoration: underline;

  color: #4d5ae5;

  font-size: 12px;
  letter-spacing: 0.04em;
}
.modal-send-button {
  font-family: inherit;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition-duration: 200ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  margin: 0 auto;
}

.modal-send-button:hover,
.modal-send-button:focus {
  background-color: #404bbf;
}

.modal-send-button:hover .icon-check,
.modal-send-button:focus .icon-check {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
