*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
.section {
  padding: 120px 0;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */
.page-heder {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heder-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}
.logo-header {
  color: #2e2f42;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2e2f42;

  gap: 40px;
}
.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.nav-link.current {
  color: #404bbf;
}

/* CONTACTS */
.contacts {
  display: flex;
  align-items: center;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-item {
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HERO SECTION */
.section-hero {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/heroimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  border: none;
  min-width: 169px;
  min-height: 56px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* INFO SECTION */
.section-info {
  background: #fff;
  display: flex;
  justify-content: space-between;
  gap: 24px;

  margin: 0 auto;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.info-list {
  display: flex;
  gap: 24px;
}

.info-item {
  width: calc((100% - 72px) / 4);
  text-align: center;
}

.info-title {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.info-text {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.svg-info {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  height: 112px;
  margin-bottom: 8px;
  /* text-align: center; */
}
/* TEAM SECTION */
.team-section {
  display: flex;
  background: #f4f4fd;
}

.team-heading {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  /* justify-content: space-between; */
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-item {
  width: calc((100% - 72px) / 4);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-phote {
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  align-items: center;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  align-items: center;
  margin-bottom: 8px;
}
.team-ht {
  text-align: center;
  padding: 32px 0;
}

.team-svg-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #4d5ae5;
  border-radius: 50%;
}
.team-svg-item-link:hover,
.team-svg-item-link:focus {
  background-color: #404bbf;
}
.team-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-svg-item-svg {
  fill: #f4f4fd;
}
/* PORTFOLIO SECTION */
.section-portfolio {
  background: #fff;
}

.portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover .portfolio-img-text,
.portfolio-item:focus .portfolio-img-text {
  transform: translateY(0);
}

.portfolio-img-text {
  position: absolute;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-ht {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* .portfolio-item:hover,
.portfolio-item:focus {
  color: #404bbf;
} */
/* FOOTER SECTION */
.footer-section {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
}
.logo-two {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.container-footer-svg {
  margin-right: 120px;
}
.footer-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-svg {
  fill: #f4f4fd;
}
.footer-svg.footer-svg-end {
  margin-left: 16px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.social-text {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.subscribe-form-container {
  margin-left: auto;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.subscribe-form {
  max-height: 40px;
  display: flex;
  gap: 24px;
}
.subscribe-input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: #fff;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  margin-right: 24px;
  outline: none;
}
.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.subscribe-input:focus,
.subscribe-input:hover {
  border-color: #31d0aa;
}
.subscribe-btn {
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;

  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition-duration: 200ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* margin-right: 16px; */
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}

.container-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-duration: 200ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 584px;
  border-radius: 4px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  padding-top: 72px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}
.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  transition-duration: 200ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  border-radius: 4px;
  width: 360px;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
  margin-bottom: 8px;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus-within + .icon-modal {
  fill: #4d5ae5;
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.icon-modal {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-two {
  margin-bottom: 16px;
}
.modal-textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  margin-bottom: 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.modal-textarea:focus-within {
  border-color: #4d5ae5;
}
.checkbox-container {
  margin-bottom: 24px;
}

.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  /* margin-top: 16px; */
}
.modal-check-item {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .modal-check-text .modal-check-item {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.policy-link {
  cursor: pointer;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  margin-left: 4px;
}
.modal-send-button {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition-duration: 200ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
  display: block;
  margin: 0 auto;
}
.modal-send-button:hover,
.modal-send-button:focus {
  background-color: #404bbf;
  border: none;
  color: #ffffff;
}
.modal-send-button:hover .icon-check,
.modal-send-button:focus .icon-check {
  fill: #fff;
}
